.app {
  background-color: #282c34;
  color: white;

  min-width: 100dvw;
  min-height: 100dvh;

  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 4fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header"
    "content"
    "footer"; 
}

.app-header {
  grid-area: header;
  display: grid;
  justify-content: center;
  font-size: calc(1rem + 2vmin);
  margin-top: 2rem;
}

.app-main {
  grid-area: content;
  justify-items: center;
  align-content: center;
  margin: 2rem;
}

.app-menu {
  display: grid;
  justify-items: center;
  align-content: center;
  max-height: 33%;
  min-height: 20rem;
  width: 33%;
  /* background-color: green; */
  border-radius: 1rem;
  row-gap: 1rem;

  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.app-menu_start {

}

.app-arena {
  display: grid;
  row-gap: 4rem;
  justify-items: center;
  align-content: center;
  max-height: 33%;
  min-height: 20rem;
  max-width: 66%;
  width: 66%;
  min-width: 20rem;
  border-radius: 1rem;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.app-arena_message {

}

.app-arena_player {
  display: grid;
  justify-items: center;
  align-content: center;

  max-height: 33%;
  min-height: 20rem;
  width: 66%;
  max-width: 66%;

  border-radius: 1rem;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.app-arena_opponent {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.app-arena_user {
}

.app-arena_user img {
}

.app-arena_nft {
  width: 20rem;

  border-radius: 1rem;

  /* Turn this on for battle animation */
  /* animation: jump-shaking 0.75s 1; */
}

.app-arena_nft--damage {
  animation: jump-shaking 0.75s 1;
}

.app-footer {
  grid-area: footer;
  justify-items: center;
  align-content: center;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}
